/* this style sheet will be updated soon it is for the formatting of the main index page. */
html{ 
    background-color: lightgray;
}

h1{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: auto;
}

div{
    display: inline;
    border-style: solid;
    margin-left:25%;
    padding-left: 8px;
    padding-right: 8px;
    background-color: aliceblue;
    height: 500px;
    max-width: fit-content;
    position: absolute;
    overflow-y: auto;
  }

ul {
    list-style-type: none;
    border-style: solid;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: black;
    height: 500px;
  }

  li{
    text-align: center;
  }

  li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: white;
    color: black;
  }

#foot{
    text-align: center;
    font-variant: small-caps;
}