/* this style sheet will be updated soon it is for the formatting of the main index page. */
html{ 
    background-color: lightgray;
}

h1{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 3px 5px 6px rgb(151, 164, 176);
}

body{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: auto;
}

div{
    display: inline;
    border-style: solid;
    border-radius: 10px;
    color: gainsboro;
    margin-left:25%;
    padding-left: 8px;
    padding-right: 8px;
    background-color: aliceblue;
    background-image: linear-gradient(rgb(21, 46, 134), aliceblue);
    height: 500px;
    max-width: fit-content;
    position: absolute;
    overflow-y: auto;
  }

ul {
    list-style-type: none;
    border-style: solid;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.658);
    height: 500px;
  }

  li{
    text-align: center;
  }

  li a {
    display: block;
    border-radius: 10px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  a.active{
    color: red;
  }
  /* Change the link color on hover */
  li a:hover {
    background-color: white;
    box-shadow: -5px -5px 10px black inset, 5px 5px 10px black inset;
    color: black;
  }

#foot{
    text-align: center;
    font-variant: small-caps;
}